@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* || RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body main section {
    width: 100%;
    height: 100vh;
}

.home-container {
    background-color: #ffffff;
}

.our-chairs-container {
 background-color: #eff0ea;
}

.contact-us-container {
    background-color: #3c3a47;
}

.store-continer {
    background-color: #ffffff;
}