
:root {
    --home-font-color: #373737;
}

.home-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
}

.home-container img {
    margin-bottom: 5rem;
}

.home-container h1 {
    font-size: 3em;
    color: var(--home-font-color);
    font-weight: bolder;
    margin: 0 32px;
    text-align: center;
}

.home-container p {
    font-size: 1.5rem;
    margin: 0 32px;
    color: var(--home-font-color);
    text-align: center;
}

.home-container .btn {
    margin: 5rem 1rem;
    font-size: 18px;
    background-color: inherit;
    padding: 1.2em 2.8em;
    border: 2px solid var(--home-font-color);
    cursor: pointer;
    border-radius: 50px;
    transition: background-color .3s, color .3s;
}

.home-container .btn:hover {
    background-color: var(--home-font-color);
    color: white;
}